body {
    text-align: center;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to top, #acb6e5, #86fde8);
    min-height: 100vh;
}

canvas {
    margin: 0;
    display: block;
}

div {
    vertical-align: top;
    display: inline-block;
    margin: 0;
}

main {
    vertical-align: top;
    display: inline-block;
    margin: 0;
}

img {
    display: none;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    padding: 10px 5px;
}

/* For the mobile version of the game */
.controller {
    display: grid;
    min-height: 100px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "blank up blank",
    "left blank right",
    "blank down blank";
    justify-content: center;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 15px;
    padding: 10px;
}

#blank {
    grid-area: "blank";
}

#up {
    grid-area: "up";
    background: rgba(255, 255, 255, 0);
    border: 2px solid blue;
}

#up:active {
    background-color: rgba(0, 0, 255, 0.5);
}

#right {
    grid-area: "right";
    background: rgba(255, 255, 255, 0);
    border: 2px solid blue;
}

#right:active {
    background-color: rgba(0, 0, 255, 0.5);
}

#down {
    grid-area: "down";
    background: rgba(255, 255, 255, 0);
    border: 2px solid blue;
}

#down:active {
    background-color: rgba(0, 0, 255, 0.5);
}

#left {
    grid-area: "left";
    background: rgba(255, 255, 255, 0);
    border: 2px solid blue;
}

#left:active {
    background-color: rgba(0, 0, 255, 0.5);
}


#github {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

#linkedin {
    float: right;
    margin-left: 20px;
    margin-top: 15px;
}

#top-left {
    border: 2px solid blue;
}

#top-right {
    border: 2px solid blue;
    padding: 5px auto;
}

#middle {
    border: 2px solid blue;
}

#game {
    margin: 20px auto 0 auto;
    text-align: center;
    box-shadow: 10px 10px 10px #666666;
}

#canvas-div {
    border: 5px solid blue;
}

@media screen and (min-width: 600px) {
    body {
        font-size: 17px;
    }

    .controller {
        display: none;
    }

    img {
        display: inline-block;
        max-width: 50px;
        max-height: 50px;
    }

    #game {
        margin: 40px auto 0 auto;
    }
}