body {
    text-align: center;
}

canvas {
    margin: 0;
    display: block;
}
div {
    vertical-align: top;
    display: inline-block;
    margin: 0;
}

button {
    display: block;
    margin: 20px auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

#top-left {
    border: 2px solid blue;
}

#top-right {
    border: 2px solid blue;
}

#middle {
    border: 2px solid blue;
}

#game {
    margin: 0 auto;
    text-align: center;
}